.btn-github {
  transition: background-color 0.15s;
  border: 1px solid gray;  
  border-radius: 3px;  
  display: flex;
  justify-content: center;
  align-items: center;   
  position: fixed;  
  text-transform: uppercase;
  background: #fff;  
  right: 10px;
  bottom: 10px;  
  z-index: 2;
  border-radius:3px;
}

.github p {
  margin-left: 1rem;
}
