#hero{
  height: 100vh;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  align-items:flex-end;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAFElEQVQIW2NkYGAwZmBgOMvIAAUACvkBAyxEG4oAAAAASUVORK5CYII=) repeat;
}
.github-button{
 align-self: flex-start;
}

.container{
  background-color:white;
  padding: 4rem;
  display:flex;
  justify-content: space-between;
}

.foto{
  background-color:gray;  
  border-radius:50%;
}
.content{
  font-size: 4.2rem;
  margin-bottom: 5rem;
}

img{
  border-radius: 50%;
  padding:.5rem;
  transition: transform .2s;
}
img:hover{
  transform: scale(1.3);
}
.hero-buttons{
  display:flex;
  justify-content:space-between;
}