#hero{  
  color: #444;
  height: 100vh;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  align-items:flex-end;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAFElEQVQIW2NkYGAwZmBgOMvIAAUACvkBAyxEG4oAAAAASUVORK5CYII=) repeat;
}
.github-button{
 align-self: flex-start;
}

.hero-container{
  background-color:white;
  padding: 4rem 1.5rem;
  display:flex;
  justify-content: space-around;
  margin-top: 14rem;
  border-radius: 3px;  
}

.containerUl{
  opacity: 0;
  transform:transition all 1s;
}

.foto{
  background-color:gray;  
  border-radius:50%;
}
.hero-content{
  font-size: 2rem;
  margin-bottom: 5rem;
}

.hero-img{
  border-radius: 50%;
  padding:.5rem;
  transition: transform .2s;
}
.hero-img:hover{
  transform: scale(1.3);
}
.hero-buttons{
  display:flex;
  justify-content:space-around;
}