*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.Nav { 
  position: fixed; 
  z-index: 2;  
}

#navbar-div nav ul{
  opacity: 0;
  width: 100%;
  margin: 0;
  list-style-type: none;   
  transition: all 1s;  
  background:#fffefe;
}

#navbar-div nav .ul{
  opacity: 1;  
}
