#portfolio{
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAAHklEQVQIW2NkYGCYycDAIMXAwMDAyMDAsBnEwOAAAC4zAh2u8w7WAAAAAElFTkSuQmCC) repeat;
  padding-bottom: 80px;
  height: 100vh;
}